<div class="page-header">
  <h1><%= singular_table_name %></h1>
</div>

<table class="table table-bordered table-striped table-hover">
  <% attributes.each do |attribute| -%>
    <tr>
      <th class="span2"><i class="icon-tag"></i> <%= attribute.human_name %>:</th>
      <td><%%= @<%= singular_table_name %>.<%= attribute.name %> %></td>
    </tr>
  <% end -%>
</table>

<div class="form-actions">
  <%%= link_to 'Back', <%= index_helper %>_path, :class => 'btn' %>
  <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn' %> 
  <%%= link_to 'Destroy', <%= singular_table_name %>_path, <%= key_value :method, ":delete" %>, <%= key_value :data, "{ #{key_value :confirm, "'Are you sure?'"} }" %>, :class => 'btn btn-danger' %>
</div>
